* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0.5px dashed black;
}

/* color palette */
:root{
    --bool-light:rgba(255, 255, 255, 1);
    --bool-lighter:rgba(234, 234, 234, 1);
    --bool-body-primary:rgba(215, 219, 214, 1);
    --bool-body-secondary: rgba(0, 150, 136, 1);
    --bool-chat:rgba(213, 249, 186, 1);
    --bool-sky:rgba(142, 218, 252, 1);
    --bool-icon: rgba(177, 177, 177, 1);
    --bool-dark: rgba(0, 0, 0, 1);

}

body{
    height: 100vh;
    overflow: hidden;
}

/* #region Debug */

.debug{
    background-color: red;
    
}

.debug .web-app{
    background-color: yellow;
}

.debug .left{
    background-color: aqua;
}

.debug .right{
    background-color: green;
}

.debug .profile{
    background-color: pink;
    height: 10%;
}

.debug .notifications{
    background-color: pink;
    height: 10%;
}

.debug .search{
    background-color:lightsalmon;
    height: 5%;
}

.debug .contacts{
    background-color:lightskyblue;
    height: 75%;
}

.debug .contact{
    background-color: lightgreen;
    height: 10%;
}
.debug .chat{
    background-color: lightgoldenrodyellow;
    height: 80%;
}

.debug .write{
    background-color: lightgreen;
    height: 10%;
}


/* #endregion Debug */

/* #region web-app */

.web-app{
    width: 80%;
    height: 95vh;
    margin: auto;
    margin-top: 2.5vh;
    display: flex;
}

/* #region left */

.left{
    height: 100%;
    width: 30%;
}


/* #endregion left */

/* #region right */

.right{
    height: 100%;
    width: 70%;
}


/* #endregion right */

/* #endregion web-app */

/* #region @media */

@media screen and (max-width:991px) {
    .web-app{
       width: 100%;
       height: 100vh;
       margin: 0;
    }

    .left{
        width: 10%;
    }
    
    .right{
        width: 90%;
    }
    
    .notifications{
        display: none;
    }

    .search{
        display: none;
    }

    .debug .contacts{
        height: 90%;
    }
}

/* #endregion @media */