* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background:black;
}

::-webkit-scrollbar-button{
    height: 50px;
    width: 200px;
}

.d-flex{
    display: flex;
}

#site_main{
    height: calc(100% - 100px);
}

.nav{
    justify-content: space-between;
    padding: 0.5rem 2rem;
    height: 100px;
    

    & a{
        text-decoration: none;
        color: black;
    }

    .left, .right, .center, .center >.box{
        gap: 1rem;
        align-items: center;
    }

    .center{
        flex-grow: 1;
        justify-content: center;
    }

    & .right a:last-child{
        font-size: 20px;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: red;
        justify-content: center;
        align-items: center;
    }

    .center [type="text"]{
        padding: 0.5rem;
        border: 0.5px solid lightgray;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        outline: none;
        width: 100%;
    }

    .center > .box{
        border: 0.5px solid lightgray;
        border-radius: 20px;
        gap: 0;
        width: 50%;

        & > a{
            padding:0 0.5rem;
        }
    }


}

.sidebar{
    width: 20%;
    padding-left: 2rem;
    flex-direction: column;
    overflow-y: auto;


    .category{
        flex-direction: column;
        gap: 1rem;
        border-bottom: 1px solid lightgray;
        height: 100%;

        & > .home{
            gap: 1rem;
            padding: 0.5rem 0;
            
        }
    }
}

.right-menu{
   width: 80%;
}


.top-category{
    height: 50px;
    gap: 1rem;
    padding: 0 1rem;
    overflow-x: auto;
    
   
    .all{
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 0.5rem;
        align-self: center;
    }
}

.videos{
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    overflow-y: auto;

    .video{
        width: 300px;
        height: 150px;
        background-color: skyblue;
        
    }
}
